body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: white;
  text-decoration: none;
}

.inactive{
  display: none;
}